@import "/home/fariz/.cache/wal/colors-waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
  font-weight: bold;
}

#clock,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#custom-updates,
#temperature,
#memory,
#cpu,
#battery,
#custom-power {
  background-color: @background;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
}

#clock,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#workspaces button,
#custom-updates,
#custom-power {
  border-radius: 20px;
}

#network {
  padding-right: 12px;
  padding-left: 9px;
}

#network.disabled {
  padding-right: 14px;
  padding-left: 9px;
}

#bluetooth {
  padding-right: 11px;
  padding-left: 10px;
}

#custom-updates {
  font-weight: 800;
}

#mpris {
  font-size: 11px;
  text-shadow: 1px 1.5px 1px #000000;
}

#temperature {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#battery {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#workspaces {
  padding-right: 0px;
  padding-left: 0px;
}

#workspaces button {
  padding: 0 10px 0px 6px;
  background-color: transparent;
  border: 0px;
  color: @color8;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
}

#workspaces button.active {
  background: linear-gradient(135deg, @color13, @color14);
  color: #1e1e2e;
  animation: expand 0.15s ease-in-out forwards;
  margin-right: 5px;
  margin-left: 5px;
}

#image,
#clock,
#pulseaudio,
#network,
#bluetooth,
#mpris,
#custom-updates,
#battery {
  margin-right: 5px;
}

#custom-power {
  padding: 1px 13px 2px 10px;
}

#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#battery:hover,
#custom-power:hover {
  animation: glow 0.2s ease forwards;
}

@keyframes expand {
  from {
    min-width: 0;
  }
  to {
    min-width: 25px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes glow {
  from {
    background-color: @background;
    color: @foreground;
  }
  to {
    background: linear-gradient(135deg, @color13, @color14);
    color: @background;
  }
}
