* {
    color0: #12212c;
    color1: #96CA5F;
    color2: #2B709E;
    color3: #1362BD;
    color4: #50A0A2;
    color5: #3093D1;
    color6: #55AFD3;
    color7: #c3c7ca;
    color8: #616e77;
    color9: #96CA5F;
    color10: #2B709E;
    color11: #1362BD;
    color12: #50A0A2;
    color13: #3093D1;
    color14: #55AFD3;
    color15: #c3c7ca;
}
