@import "../colors/colors.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: alpha(@color0, 0.7);
}

button {
  border-radius: 10px;
  text-shadow: none;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 10px;
}

button:hover,
button:focus {
  background-color: @color14;
  outline-style: none;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
