[Desktop Entry]
Name=Netflix
Exec=chromium --profile-directory="Profile 1" --app=https://netflix.com
Icon=netflix
Terminal=false
Type=Application
Categories=Netflix;Movie;
Comment=
Path=
StartupNotify=false
