[Desktop Entry]
Name=System Update
Exec=hyprctl dispatch exec 'alacritty -e $HOME/.config/scripts/install-updates.sh'
Icon=update-manager
Terminal=true
Type=Application
Categories=Update;System;SystemUpdate
